#con-box {
	padding:0px;
	margin:10px 0 0 -50px;
	width:350px;
	border-bottom:0px  solid #B3B3B3; 
    border-top: 0px solid #B3B3B3; 
	border-left:0px solid #B3B3B3;
	border-right:0px solid #B3B3B3;
	font-size:90%;
	font-weight: regular;
	font-family: verdana-sans,calibri, Sans;
	color:grey;
	
}
p {margin-left:10px}